<tldr-slider></tldr-slider>

<ion-content padding>
    <h4>What are you looking to learn about today?</h4>
    <ion-searchbar animated='true'></ion-searchbar>

    <ion-grid>
    <ion-row>
        <ion-col size='6'>
            <img src="https://dailysmarty-production.s3.amazonaws.com/uploads/post/img/547/anagram-javascript-code-implementation.jpg" alt="JavaScript Logo">
            <ion-card-content>
                <ion-card-title>
                    JavaScript
                </ion-card-title>
                <p>
                JavaScript is one of the world's most popular language and a staple of front end web development.
                </p>
            </ion-card-content>
        </ion-col>

        <ion-col size='6'>
            <img src="https://dailysmarty-production.s3.amazonaws.com/uploads/post/img/547/anagram-javascript-code-implementation.jpg" alt="HTML5 Logo">
        </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
